* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgba(229, 84, 115, 0.05);
  --secondary-color: rgba(39, 39, 39, 0.05);
  --footer-color: rgb(17, 16, 16);
  --font-size: 10px;
}
.container {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

section {
  margin-bottom: 100px;
}
.header-title {
  color: rgb(39, 39, 39);
  font-size: 80px;
  font-weight: 800;
}

.section-title {
  color: rgb(39, 39, 39);
  font-size: 40px;
  font-weight: 800;
}

/* =====> Header Part <===== */

header {
  background: var(--primary-color);
  padding: 50px 0 0 0;
}

/* navbar */
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
nav h1 {
  letter-spacing: 10px;
  margin-bottom: 10px;
}
.special-color {
  color: tomato;
  font-size: 2rem;
}
.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.links a {
  text-decoration: none;
  color: rgb(39, 39, 39);
  font-size: 1.2rem;
  transition: 0.2s all;
}
.links a:hover {
  color: tomato;
}
.banner-description {
  text-align: center;
}

.banner-description h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.banner-description p,
button {
  margin-bottom: 10px;
}

.banner-description button {
  padding: 10px 20px;
  border-radius: 5px;
  background: tomato;
  border: none;
  color: #fff;
}

@media (min-width: 600px) {
  .links {
    flex-direction: row;
  }
}

/* ===== Features Section ===== */
.feature-container {
  text-align: center;
  color: grey;
  margin-top: 10px;
  margin-bottom: 20px;
}
.feature-round {
  max-width: 400px;
  height: 550px;
  background: grey;
  border-radius: 50% 50% 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.feature-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 80%;
}
.feature-img img {
  object-fit: cover;
}

.features-description {
  text-align: center;
}
.features-description h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}
.features-description p {
  margin-bottom: 10px;
}
.bg1 {
  background: rgba(167, 33, 98, 0.15);
}
.bg2 {
  background: rgba(5, 151, 160, 0.15);
}
.bg3 {
  background: rgba(5, 151, 160, 0.15);
}
.bg3 {
  background: rgba(71, 125, 17, 0.15);
}
/* icons container */
.icons-container {
  padding: 20px 0;
}
.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  text-align: center;
  max-width: 500px;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.icon p {
  margin-top: 10px;
}

.icon img {
  width: 45px;
  height: 45px;
}

/* offer section */
.offer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.offer-des {
  text-align: center;
  margin-bottom: 20px;
}
.btn {
  background: tomato;
  padding: 10px 20px;
  border: none;
  outline: none;
}
.offer-des h1 {
  font-size: 2rem;
}
.offer-des p {
  margin-bottom: 10px;
}

/* instagram section */
.instagram-desc {
  text-align: center;
}
.instagram-desc h1 {
  font-size: 2rem;
}
.instagram-desc p {
  margin-bottom: 10px;
}
.insta-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* contact section */
.contact {
  background: url("./Flower\ Asset/Rectangle 9.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  padding: 100px 0px;
}

.contact-info {
  text-align: center;
}
footer {
  background: var(--footer-color);
  padding: 50px;
}
.footer-content {
  text-align: center;
  max-width: 70%;
  margin: 0 auto;
  color: #fff;
}
.footer-content h1,
p {
  margin-bottom: 10px;
}
.copyright {
  color: grey;
}
@media (min-width: 600px) {
  .insta-cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media (min-width: 992px) {
  .banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .banner-description {
    text-align: left;
  }
  nav {
    flex-direction: row;
    justify-content: space-between;
  }
  .features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .icons-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .offer {
    flex-direction: row;
  }
  .offer-des {
    text-align: left;
  }
  .insta-cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}
